 
  body {
    color: #6cacc5;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
  }
  
  h1 {
    font-weight: 300;
    margin: 0;
  }
  
 
  .calculator {
    font-size: 28px;
    margin: 0 auto;
    width: 14.5em;
      
  }
  
  .viewer {
      background-color: #073d06;
    color: #f5efef;
  
    line-height: 3em;
    text-align: right;
    padding-right: 15px;
    border-radius: 12px;
    width: 13.5em;
    height: 3em;
  }
  
  .num, .ops , .clear  {
    border-radius: 12px;
    background: rgb(42,50,113);
    color: #dce8ec;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 3em;
    height: 2em;
    transition: all 0.5s;
     }

     .equals {
        border-radius: 12px;
        background: rgb(230, 248, 71);
        color: #300b02;
        cursor: pointer;
        float: right;
        font: inherit;
        margin: 0.25em;
        margin-right: 0.5em;
        width: 3.25em;
        height: 9.5em;
        transition: all 0.5s;
     }

    

  

  
    
  
  